.card-box-shadow {
    background-color: #ffffff;
    width: 96%;
    height: 132px;
    border-radius: 8px;
    text-align: start;
    padding: 4px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s;
}

.codigoItem {
    display: inline;
    margin-right: 48%;
    margin-left: 2px;
    color: #5c677d;
}
h4 {
    display: inline;
    color: #979dac;
}
h6 {
    margin-top: 12px ;
    color: #7d8597;
}

.card:hover {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.8);
}

p {
    display: inline;
    font-size: 14px;
    color: #7d8597;
}

.qtd {
    margin-right: 8%;
}
.icon{
    background-color: transparent;
}

.btnTxt {
    font-size: 12px;
}
.action {
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.content {
    margin-top: 4px;
    display: flex;
    align-items: center;
}
.id {
    font-size: 12px;
    color: blue;
}


