.dashboard {
    text-align: center;
    background-color: #f1f6fc;
    height: 100vh;
    color: black;
    width: 96%;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    display: block;
}